fire==0.7.0
numpy==2.2.3
pandas==2.2.3
peft==0.14.0
pytest==8.3.5
pypdf2==3.0.1
transformers==4.51.3
dotenv==0.9.9
python-dotenv==1.0.1
huggingface-hub==0.30.0
tqdm==4.67.1
torch==2.7.0
pydantic==2.11.4
